body {
    background-color: #FFCCE1; 
    font-family: 'Arial', sans-serif; 
    color: #56021F; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8d9f7; 
    border-radius: 15px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    font-family: 'Helvetica', sans-serif;
    color: #4a4a4a; 
}


.container h1, .container p {
    margin-bottom: 15px;
}


.container:hover {
    transform: scale(1.02); 
    transition: transform 0.3s ease;
}


.contai
